body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: whitesmoke;
    background-color: #111;
    font-family: fantasy, Arial;
    background-attachment: fixed; 
    background-size: cover;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    text-shadow: 0 0 10px black;
}

h1 {
    font-style: normal;
    font-weight: lighter;
    margin: auto;
    text-align: center;
    animation: 10s alternating_shadow_warm infinite linear;
}

h2 {
    font-style: normal;
    font-weight: lighter;
    margin: 5%;
}

h3 {
    font-style: normal;
    font-weight: lighter;
}

a {
    animation: 10s alternating_shadow_warm infinite linear;
}

#mobile_spacer {
    visibility: hidden;
    height: 0;
    width: 0;
}

#header {
    margin: 0;
    padding: 0;
    height: 200px;
    width: 100%;
}

#background_svg_container {
    background-image: url('img/background.svg');
    background-repeat: no-repeat;
    background-size: 120%;
    height: 800px;
    width: 150%;
    animation: 20s translate_svg infinite linear;
    position: absolute;
    transition-timing-function: ease-in-out;
}

#background_svg_container_foreground {
    background-image: url('img/foreground.svg');
    background-repeat: no-repeat;
    background-size: 120%;
    height: 800px;
    width: 150%;
    animation: 15s translate_svg_reverse infinite linear;
    position: absolute;
    z-index: 0;
    transition-timing-function: ease-in-out;
    opacity: 1;
}

.unblur_content {
    filter: blur(0);

}

.blur_content {
    filter: blur(5px);
}

#footer {
    margin: 0;
    padding: 0;
    height: 700px;
    width: 100%;
    bottom: 0;
    background: transparent;
    background-image: url('img/footer_background.svg');
    background-repeat: no-repeat;
    background-size: 120%;
}

#contact_card {
    margin: 0;
    padding: 0; 
    width: 500px;
    margin: auto;
    animation: reveal_container linear;
    animation-timeline: scroll();
}

#footer_spacer{
    margin: 0;
    padding: 0; 
    width: 100%;
    height: 500px;
}

#application_container {
    padding: 10px;
    height: 100%;
    width: 100%;
    background: linear-gradient(black, #111, transparent);
}

#page_container {
    position: relative;
    margin: auto;
    padding: 10px;
    height: 1300px;
    width: 1300px;
    background: transparent;
    animation: hide_container linear;
    animation-timeline: scroll();
}

#panel_container {
    padding: 10px;
    margin: 1%;
    float: left;
    height: 200px;
    width: 20%;
}

#panel_container:hover {
    height: 600px;
    width: 30%;
    transition: all 1s ease-in-out;
}

.section_container {
    background-color: darkslategray;
    padding: 10px;
    margin: 1%;
    float: left;
    height: 50px;
    width: 90%;
    text-align: center;
    position: relative;
    opacity: 75%;
    z-index: 1;
    background: linear-gradient(to left, darkslategray, transparent);
    filter: blur(5px);
}

.section_container_header {
    background-color: darkslategray;
    padding: 10px;
    margin: 1%;
    float: left;
    height: 50px;
    width: 90%;
    text-align: center;
    position: relative;
    opacity: 75%;
    z-index: 1;
    background: linear-gradient(to left, darkslategray, transparent);
    filter: none;
}

.section_container:hover {
    box-shadow: 0px 0px 1000px white;
    margin: 0%;
    width: 100%;
    height: 11%;
    background-color: darkcyan;
    color: black;
    animation: 10s alternating_shadow_cool infinite;
    animation-timing-function: linear;
    transition: all 0.5s ease-in-out;
    opacity: 90%;
    filter: none;
}

#sections_container {
    padding: 0;
    margin: 0;
    height: 95%;
    width: 65%;
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    transition: transform 0.5s ease-out;
}

#sections_container_out {
    padding: 0;
    margin: 0;
    height: 95%;
    width: 65%;
    position: absolute;
    right: 0;
    animation: reveal_container linear;
    animation-timeline: scroll();
}

#content_container {
    perspective: 1000px;
    padding: 40px;
    height: 100%;
    width: 100%;
    right: 0;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, darkslategray, transparent);
    box-shadow: 0px 0px 100 white;
    transition: filter 0.5s ease-in-out;
    animation: 15s alternating_shadow_cool infinite linear;
}

.content_container_back {
    filter: blur(10px);
}

#content_container > div {
    position: relative;
    z-index: 1;
}

@keyframes translate_svg {
    0% { 
        transform: translate(-400px); 
        opacity: 0;
    }
    25% { 
        transform: translate(-350px); 
        opacity: 1;
    }
    50% { 
        transform: translate(-300px); 
        opacity: 0.8;
    }
    75% { 
        transform: translate(-250px); 
        opacity: 1;
    }
    100% { 
        transform: translate(-200px); 
        opacity: 0;
    }
}

@keyframes translate_svg_reverse {
    0% { 
        transform: translate(-150px, 450px); 
        opacity: 0;
    }
    25% { 
        transform: translate(-200px, 450px); 
        opacity: 1;
    }
    50% { 
        transform: translate(-250px, 450px); 
        opacity: 0.8;
    }
    75% { 
        transform: translate(-300px, 450px); 
        opacity: 1;
    }
    100% { 
        transform: translate(-350px, 450px); 
        opacity: 0;
    }
}

@keyframes hide_container {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes reveal_container {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes alternating_shadow_warm {
    0% {
        color:lightpink;
    }
    25% {
        color: lightsalmon;
    }
    50% {
        color: lightgoldenrodyellow;
    }
    75% {
        color: lightsalmon;
    }
    100% {
        color:lightpink;
    }
}

@keyframes alternating_shadow_cool {
    0% {
        box-shadow: -150px 0px 1500px aqua;
        color:lightpink;
    }
    25% {
        box-shadow: 0px 50px 1500px aquamarine;
        color: lightsalmon;
    }
    50% {
        box-shadow: 150px 0px 1500px lightseagreen;
        color: lightgoldenrodyellow;
    }
    75% {
        box-shadow: 0px -50px 1500px aquamarine;
        color: lightsalmon;
    }
    100% {
        box-shadow: -150px 0px 1500px aqua;
        color:lightpink;
    }
}


@media only screen and (max-width: 800px){
    #header, #footer, #footer_spacer {
        visibility: hidden;
        height: 0;
    }
    #mobile_spacer {
        visibility: visible;
        opacity: 1;
        background-color: black;
        height: 100%;
        width: 1000px;
        position: fixed;
        left: 800px;
        top: 0;
        z-index: 1;
    }
    #application_container {
        width: 100%;
    }
    #page_container {
        width: 100%;
        animation-timeline: none;
    }
    #panel_container {
        float: left;
        width: 80%;
    }
    #panel_container:hover {
        width: 80%;
    }
    #sections_container {
        width: 80%;
        float: left;
        left: 0;
        margin-top: 450px;
    }
    #background_svg_container {
        width: 350%;
    }
    #background_svg_container_foreground {
        width: 350%;
    }
}

@media only screen and (max-width: 300px){
    #background_svg_container {
        visibility: hidden;
    }
    #background_svg_container_foreground {
        visibility: hidden;
    }
}
