body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: whitesmoke;
    background-color: #111;
    font-family: fantasy;
    background-attachment: fixed; 
    background-size: cover;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    text-shadow: 0 0 10px black;
}

h1 {
    margin: auto;
    text-align: center;
    animation: 10s alternating_shadow_warm infinite linear;
}

h2 {
    margin: 5%;
}

#header {
    margin: 0;
    padding: 0;
    height: 200px;
    width: 100%;
}

#background_svg {
    transform: translate(-1000px);
    animation: 10s translate_svg infinte linear;
    z-index: 0;
}

#background_svg_container {
    background-image: url('img/background.svg');
    background-repeat: no-repeat;
    background-size: 120%;
    height: 800px;
    width: 120%;
    animation: 40s translate_svg infinite linear;
    position: absolute;
    transition-timing-function: ease-in-out;
}

#background_svg_container_foreground {
    background-image: url('img/foreground.svg');
    background-repeat: no-repeat;
    background-size: 120%;
    height: 800px;
    width: 120%;
    animation: 40s translate_svg_reverse infinite linear;
    position: absolute;
    z-index: 10;
    transition-timing-function: ease-in-out;
}

.unblur_content {
    filter: blur(0);
}

.blur_content {
    filter: blur(5px);
}

#footer {
    margin: 0;
    padding: 0;
    height: 700px;
    width: 100%;
    bottom: 0;
    background: transparent;
    background-image: url('img/footer_background.svg');
    background-repeat: no-repeat;
    background-size: 120%;
}

#contact_card {
    margin: 0;
    padding: 0; 
    width: 500px;
    margin: auto;
    animation: reveal_container linear;
    animation-timeline: scroll();
}

#footer_spacer{
    margin: 0;
    padding: 0; 
    width: 100%;
    height: 500px;
}

#application_container {
    padding: 10px;
    height: 100%;
    width: 100%;
    background: linear-gradient(black, #111, transparent);
}

#page_container {
    position: relative;
    margin: auto;
    padding: 10px;
    height: 1300px;
    width: 1300px;
    background: transparent;
    animation: hide_container linear;
    animation-timeline: scroll();
}

#panel_container {
    padding: 10px;
    margin: 1%;
    float: left;
    height: 200px;
    width: 20%;
}

#panel_container:hover {
    height: 600px;
    width: 30%;
    transition: all 1s ease-in-out;
}

.section_container {
    background-color: darkslategray;
    padding: 10px;
    margin: 1%;
    float: left;
    height: 50px;
    width: 90%;
    text-align: center;
    position: relative;
    opacity: 75%;
    z-index: 1;
    background: linear-gradient(to left, darkslategray, transparent);
    filter: blur(5px);
}

.section_container_header {
    background-color: darkslategray;
    padding: 10px;
    margin: 1%;
    float: left;
    height: 50px;
    width: 90%;
    text-align: center;
    position: relative;
    opacity: 75%;
    z-index: 1;
    background: linear-gradient(to left, darkslategray, transparent);
    filter: none;
}

.section_container:hover {
    box-shadow: 0px 0px 1000px white;
    margin: 0%;
    width: 100%;
    height: 11%;
    background-color: darkcyan;
    color: black;
    animation: 10s alternating_shadow_cool infinite;
    animation-timing-function: linear;
    transition: all 0.5s ease-in-out;
    opacity: 90%;
    filter: none;
}

#sections_container {
    padding: 0;
    margin: 0;
    height: 95%;
    width: 65%;
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    transition: transform 0.5s ease-out;
}

#sections_container_out {
    padding: 0;
    margin: 0;
    height: 95%;
    width: 65%;
    position: absolute;
    right: 0;
    animation: reveal_container linear;
    animation-timeline: scroll();
}

#content_container {
    perspective: 1000px;
    padding: 40px;
    height: 100%;
    width: 100%;
    right: 0;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, darkslategray, transparent);
    box-shadow: 0px 0px 100 white;
    transition: filter 0.5s ease-in-out;
    animation: 15s alternating_shadow_cool infinite linear;
}

.content_container_back {
    filter: blur(10px);
}

#content_container > div {
    position: relative;
    z-index: 1;
}

.light_reflection {
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
    filter: blur(100px);
    border-radius: 50%;
    z-index: 0;
}

.light_reflection_active {
    width: 50%;
    height: 50%;
}

@keyframes translate_svg {
    0% { 
        transform: translate(-400px); 
        opacity: 0.2;
    }
    25% { 
        transform: translate(-300px); 
        opacity: 0.5;
    }
    50% { 
        transform: translate(-200px); 
        opacity: 1;
    }
    75% { 
        transform: translate(-300px); 
        opacity: 0.5;
    }
    100% { 
        transform: translate(-400px); 
        opacity: 0.2;
    }
}

@keyframes translate_svg_reverse {
    0% { 
        transform: translate(-150px, 450px); 
        opacity: 0.9;
    }
    25% { 
        transform: translate(-250px, 450px); 
        opacity: 0.7;
    }
    50% { 
        transform: translate(-350px, 450px); 
        opacity: 0.6;
    }
    75% { 
        transform: translate(-250px, 450px); 
        opacity: 0.7;
    }
    100% { 
        transform: translate(-150px, 450px); 
        opacity: 0.9;
    }
}

@keyframes hide_container {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes reveal_container {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes alternating_shadow_warm {
    0% {
        color:lightpink;
    }
    25% {
        color: lightsalmon;
    }
    50% {
        color: lightgoldenrodyellow;
    }
    75% {
        color: lightsalmon;
    }
    100% {
        color:lightpink;
    }
}

@keyframes alternating_shadow_cool {
    0% {
        box-shadow: -150px 0px 1500px aqua;
        color:lightpink;
    }
    25% {
        box-shadow: 0px 50px 1500px aquamarine;
        color: lightsalmon;
    }
    50% {
        box-shadow: 150px 0px 1500px lightseagreen;
        color: lightgoldenrodyellow;
    }
    75% {
        box-shadow: 0px -50px 1500px aquamarine;
        color: lightsalmon;
    }
    100% {
        box-shadow: -150px 0px 1500px aqua;
        color:lightpink;
    }
}
